/* You can add global styles to this file, and also import other style files */
.dropdown-item {
    cursor: pointer;
}

/* InfoWindow do maps */
.div-info-window {
    min-width: 220px;
    max-width: 220px;
    padding-left: 20px;
}

.btn-rounded {
    border-radius:23px;
    width: 200px;
}

.div-info-window-acoes > button {
    margin-bottom: 5px;
}

#txtNomeNovoAmigo {
    margin-bottom: 5px;
}